.footer {
  justify-content: center;
  align-items: center;
  display: flex;

  gap: .5rem;
  border-top: 1px solid var(--color-dark);
}

.arte {
  font-size: 2rem;
  margin: 0 auto;

  font-weight: 100;
  color: transparent;
  
  background-image: linear-gradient(to right, #ab0cd3, #18c59a);
  background-clip: text;
}

img {
  width: 6rem;
}